<!-- media/index.hbs -->

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ChromaSkin: Generate</title>
		<link rel="stylesheet" href="{{stylesUri}}" />
	</head>
	<body>
		<div class="container">
            <div class="header">
                <h2>ChromaSkin</h2>
                <p>Create a custom VS Code theme by selecting colors and adjusting intensity settings.</p>
            </div>

            <div class="section-header"><hr><h3>Basic Settings</h3></div>

			<div class="color-picker-container">
				<input type="color" id="color1" value="{{color1}}" />
				<label for="color1">Primary Color</label>
			</div>

			<div class="color-picker-container">
				<input type="color" id="color2" value="{{color2}}" />
				<label for="color2">Background Color</label>
			</div>

			<div class="color-picker-container">
				<input type="color" id="color3" value="{{color3}}" />
				<label for="color3">Accent Color</label>
			</div>

			<div class="color-picker-container">
				<input type="color" id="color4" value="{{color4}}" />
				<label for="color4">Foreground Color</label>
			</div>

			<div class="color-picker-container">
				<input type="color" id="color5" value="{{color5}}" />
				<label for="color5">Border Color</label>
			</div>


            <div class="section-header"><hr><h3>Advanced Settings</h3></div>

            <div class="slider-container">
				<input type="range" id="intensity" min="1" max="100" value="{{intensity}}" />
				<label for="intensity">Popever Border Strength</label>
				<div class="slider-value" id="intensity-value">{{intensity}}</div>
			</div>

			<div class="footer">
                <button id="apply-button" class="apply-button">Apply Theme</button>
                <button id="reset-button" class="reset-button">Reset</button>
            </div>
		</div>

		<script src="{{scriptUri}}"></script>
	</body>
</html>